.wrapper {
    width: 100%;
    background-color: #f7f7f6;

    &-header {
        width: 1200px; // 设置媒体查询
        height: 36px;
        background-color: #8c222c;
    }
}

.title{
    font-size: 20px;
    font-weight: bolder;
}